@import "https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap";
.section_swiper .swiper-button-prev,
.section_swiper .swiper-button-next {
  position: absolute !important;
  top: 465px !important;
  color: #1D212A !important;
}
.section_swiper .swiper-button-next:after,
.section_swiper .swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 19px !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}
.section_swiper .swiper-button {
  position: absolute !important;
  width: 120px !important;
  right: 120px;
}
.section_swiper .swiper, .section_swiper .swiper-container {
  overflow: visible !important;
}
.section_swiper .swiperPost_title {
  display: flex;
  flex-direction: column;
}
.section_swiper .swiperPost_title h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #B6BFD9;
}
.section_swiper .swiperPost_title h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #1D212A;
}
.section_swiper .swiperPost_title p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #565A65;
}
.section_swiper .swiperPost_title .description {
  max-width: 284px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 512px) and (max-width: 1023px) {
  .section_swiper .swiperPost_title .description {
    flex-direction: row;
    max-width: 100%;
  }
}
.section_swiper .swiperPost_title .h2_postlarge {
  font-size: 24px;
}
@media (min-width: 512px) and (max-width: 1023px) {
  .section_swiper .swiperPost_title .h2_postlarge {
    font-weight: 300;
    font-size: 48px;
    line-height: 120%;
  }
}
@media (min-width: 512px) and (max-width: 1023px) {
  .section_swiper .swiperPost_title .p_postlarge {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-top: 12px;
  }
}
.section_swiper .swiperPost_title .h5_postlarge {
  text-align: inherit;
  z-index: 5;
  padding-top: 80px;
}
@media (min-width: 1024px) {
  .section_swiper .swiperPost_title .h5_postlarge {
    margin-left: 70px;
  }
}
.section_swiper .swiperPost_title .p_postlarge span {
  word-break: break-all;
}
.section_swiper .swiperPost_title .swiperPost_title_image {
  width: 194px;
  height: 214px;
  position: absolute;
  z-index: -1;
}
.section_swiper .swiperPost_background {
  margin: 0 90px;
  margin-top: 100px;
  height: 440px;
  background-color: #F9FAFC;
  border-radius: 8px;
}
.section_swiper .swiperPost_body {
  position: relative;
  top: -90px;
  right: -50px;
}
.section_swiper .swiper_slide_image img {
  border-radius: 50%;
  padding-right: 4%;
  width: 84px;
  height: 84px;
}
.section_swiper .swiper_slide_posts {
  align-items: flex-start;
  max-height: 120px;
}
.section_swiper .swiper_slide_post .stars {
  display: flex;
}
.section_swiper .swiper_slide_post .stars .star {
  color: #ddd;
  margin-right: 5px;
  cursor: pointer;
}
.section_swiper .swiper_slide_post .stars .star:last-child {
  margin-right: 0;
}
.section_swiper .swiper_slide_post .stars .star.filled {
  color: green;
}
.section_swiper .swiper_slidePost {
  padding: 34px 24px 20px 24px;
  max-width: 430px;
  max-height: 370px;
  background-color: #FFFFFF;
  border-radius: 8px;
  position: relative;
}
.section_swiper .swiper_slidePost h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #1D212A;
  margin: 16px 0;
}
.section_swiper .swiper_slidePost p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #565A65;
  flex-grow: 1;
  min-height: 120px;
}
.section_swiper .swiper_slide_main {
  display: flex;
  flex-direction: row;
  max-height: 120px;
}
.section_swiper .swiper_slide_post h4 {
  font-family: "Open Sans";
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.section_swiper .swiper_slide_posts {
  display: flex;
  flex-direction: column;
}
@media (min-width: 512px) and (max-width: 1023px) {
  .section_swiper .swiperPost_title {
    max-width: 89%;
    margin: 0 auto;
  }
  .section_swiper .swiperPost_title h5 {
    font-size: 18px;
  }
  .section_swiper .swiperPost_title h2 {
    font-size: 48px;
    max-width: 540px;
  }
  .section_swiper .swiperPost_title p {
    font-size: 16px;
    max-width: 350px;
  }
}
@media (min-width: 512px) and (max-width: 1023px) {
  .section_swiper .swiperPost_background {
    margin-bottom: 180px;
  }
  .section_swiper .swiperPost_background .swiper_body {
    padding: 0;
  }
}
@media (min-width: 1024px) {
  .section_swiper .swiperPost_background {
    max-width: 960px;
    margin-bottom: 180px;
  }
  .section_swiper .swiperPost_background .swiperPost_body {
    max-width: 800px;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .section_swiper .swiperPost_title .description {
    display: flex;
    flex-direction: row;
    max-width: 50%;
    margin: 0 0 60px 4%;
  }
  .section_swiper .swiperPost_title .description .h2_postlarge {
    font-size: 32px;
  }
}