@import "https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap";
.details_protection_background {
  height: 810px;
  max-width: 100%;
  background-size: cover;
  padding: 80px 7.7% 60px;
}
.details_protection_background h5 {
  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #E7E9ED;
  margin-bottom: 8px;
}
.details_protection_background h2 {
  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #fff;
  margin-bottom: 8px;
}
.details_protection_background p {
  font-family: "Open Sans", "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #E7E9ED;
  margin-bottom: 32px;
}
.details_protection_background .h2_large {
  display: none;
}
.details_protection_background .h5_large {
  display: none;
}
.details_protection_background .p_large {
  display: none;
}
.details_protection_background .details_protection_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.details_protection_background .details_protection_flex img {
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
}
@media (min-width: 512px) and (max-width: 1023px) {
  .details_protection_background {
    height: 600px;
    max-width: 100%;
    background-repeat: no-repeat;
  }
  .details_protection_background h5 {
    font-size: 18px;
    padding-top: 20px;
    margin-bottom: 16px;
  }
  .details_protection_background h2 {
    font-size: 48px;
    margin-bottom: 16px;
  }
  .details_protection_background p {
    font-size: 16px;
    max-width: 480px;
    margin: 0 auto;
  }
  .details_protection_background .details_protection_flex {
    flex-direction: row;
    margin-top: 60px;
    justify-content: space-between;
  }
  .details_protection_background .details_protection_flex h2 {
    font-size: 38px;
  }
}
@media (min-width: 1024px) {
  .details_protection_background {
    height: 780px;
    max-width: 100%;
  }
  .details_protection_background .text_block {
    display: block;
  }
  .details_protection_background .h2_medium {
    display: none;
  }
  .details_protection_background .h2_large {
    display: block;
    text-align: start;
    font-size: 48px;
    text-align: center;
    margin-bottom: 16px;
  }
  .details_protection_background .h5_medium {
    display: none;
  }
  .details_protection_background .h5_large {
    display: block;
    text-align: start;
    font-size: 18px;
    text-align: center;
    margin-bottom: 16px;
  }
  .details_protection_background .p_medium {
    display: none;
  }
  .details_protection_background .p_large {
    display: block;
    text-align: start;
    font-size: 16px;
    margin: 0 auto;
    max-width: 600px;
    margin-bottom: 60px;
    text-align: center;
  }
  .details_protection_background .details_protection_flex {
    flex-direction: row;
    justify-content: space-between;
  }
  .details_protection_background .details_protection_flex h2 {
    font-size: 38px;
  }
}
@media only screen and (min-width: 1920px) {
  .details_protection_background .text_block {
    display: none;
  }
}