@import "https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap";
.footer_background {
  max-width: 100%;
  height: 950px;
  margin-top: 120px;
  padding: 0 15px;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer_background .div_large {
  display: none;
}
@media (min-width: 512px) and (max-width: 1023px) {
  .footer_background {
    padding: 0 30px;
    margin-top: 160px;
  }
}
@media (min-width: 1024px) {
  .footer_background .footer_copyright {
    display: none;
  }
  .footer_background .div_large {
    display: flex;
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 10px;
  }
  .footer_background .div_large p {
    font-family: "Open Sans", "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #E7E9ED;
    max-width: 280px;
  }
  .footer_background .div_large ul {
    width: 650px;
    display: flex;
    margin-left: 165px;
    justify-content: space-between;
    font-family: "Open Sans", "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #E7E9ED;
    list-style: none;
    cursor: pointer;
  }
  .footer_background .div_large ul .switch-language {
    margin-left: 10px;
  }
  .footer_background .div_large ul li {
    transition-duration: 0.5s;
  }
  .footer_background .div_large ul li span {
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease;
  }
  .footer_background .div_large ul li span::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 8px;
    background-color: #E7E9ED;
    top: -7px;
    right: -10px;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
  }
  .footer_background .div_large ul li span::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 7px;
    background-color: #E7E9ED;
    bottom: 4px;
    right: -10px;
    transform: rotate(-45deg);
    transition: transform 0.3s ease;
  }
  .footer_background .div_large ul li span.isOpen {
    transform: rotate(90deg);
    bottom: 13px;
    right: -5px;
    transition: transform 0.3s ease;
  }
  .footer_background .div_large ul li:hover {
    color: #1D212A;
    text-decoration: underline;
    transition-duration: 0.5s;
  }
}
.footer_background .footer_block {
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  bottom: 70px;
  padding-top: 32px;
}
.footer_background .footer_block h4 {
  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #B6BFD9;
  margin-bottom: 8px;
}
.footer_background .footer_block h1 {
  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #1D212A;
  margin-bottom: 8px;
  max-width: 265px;
  margin: 0 auto;
  margin-bottom: 8px;
}
.footer_background .footer_block p {
  font-family: "Open Sans", "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #565A65;
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 24px;
}
.footer_background .footer_block .h4_large {
  display: none;
}
.footer_background .footer_block .h1_large {
  display: none;
}
.footer_background .footer_block .p_large {
  display: none;
}
.footer_background .footer_block .footer_button_start {
  display: none;
}
.footer_background .footer_block .footer_button_details {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 25px;
}
.footer_background .footer_block .footer_button_details .footer_button_sign {
  display: inline-block;
  width: 140px;
  height: 48px;
  border-radius: 8px;
  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 48px;
  text-decoration: none;
  position: relative;
  transition: 0.5s;
  margin-right: 2%;
  background: #8770FF;
  color: #fff;
}
.footer_background .footer_block .footer_button_details .footer_button_learn {
  display: inline-block;
  width: 140px;
  height: 48px;
  border-radius: 8px;
  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1D212A;
  text-align: center;
  line-height: 48px;
  text-decoration: none;
  position: relative;
}
.footer_background .footer_block .footer_button_details .footer_button_learn::after {
  content: "";
  width: 2px;
  height: 8px;
  transform: rotate(45deg);
  background: #32D989;
  position: absolute;
  top: 22px;
  left: 124px;
}
.footer_background .footer_block .footer_button_details .footer_button_learn::before {
  content: "";
  width: 2px;
  height: 8px;
  transform: rotate(-45deg);
  background: #32D989;
  position: absolute;
  top: 18px;
  left: 124px;
}
@media (min-width: 512px) and (max-width: 1023px) {
  .footer_background .footer_block {
    padding: 60px 0;
  }
  .footer_background .footer_block h1 {
    max-width: 545px;
    font-size: 48px;
  }
  .footer_background .footer_block p {
    max-width: 340px;
  }
}
@media (min-width: 1024px) {
  .footer_background .footer_block {
    max-width: 1110px;
    margin: 0 auto;
  }
  .footer_background .footer_block .h4_medium {
    display: none;
  }
  .footer_background .footer_block .h1_medium {
    display: none;
  }
  .footer_background .footer_block .p_medium {
    display: none;
  }
  .footer_background .footer_block .h4_large {
    display: block;
    font-size: 18px;
  }
  .footer_background .footer_block .h1_large {
    display: block;
    font-size: 48px;
    max-width: 580px;
  }
  .footer_background .footer_block .p_large {
    display: block;
    max-width: 410px;
  }
  .footer_background .footer_block .footer_button_details .footer_button_sign {
    display: none;
  }
  .footer_background .footer_block .footer_button_details .footer_button_start {
    display: inline-block;
    width: 230px;
    height: 48px;
    border-radius: 8px;
    font-family: "Poppins", "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    line-height: 48px;
    text-decoration: none;
    position: relative;
    transition: 0.5s;
    margin-right: 2%;
    background: #8770FF;
    color: #fff;
  }
}
.footer_background .footer_nav {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.footer_background .footer_nav :first-child {
  margin-right: 25px;
}
.footer_background .footer_nav :last-child {
  margin-right: 25px;
}
.footer_background .footer_nav .footer_nav_block {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.footer_background .footer_nav .footer_nav_block a {
  text-decoration: none;
  color: #E7E9ED;
}
.footer_background .footer_nav .footer_nav_block div:first-child {
  margin-right: 30px;
}
.footer_background .footer_nav .footer_nav_block .footer_nav_section {
  flex-grow: 1;
}
.footer_background .footer_nav .footer_nav_block .footer_nav_section .footer_nav_list li span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
}
.footer_background .footer_nav .footer_nav_block .footer_nav_section .footer_nav_list li span::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 8px;
  background-color: #E7E9ED;
  top: -7px;
  right: -10px;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}
.footer_background .footer_nav .footer_nav_block .footer_nav_section .footer_nav_list li span::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 7px;
  background-color: #E7E9ED;
  bottom: 4px;
  right: -10px;
  transform: rotate(-45deg);
  transition: transform 0.3s ease;
}
.footer_background .footer_nav .footer_nav_block .footer_nav_section .footer_nav_list li span.isOpen {
  transform: rotate(90deg);
  bottom: 13px;
  right: -5px;
  transition: transform 0.3s ease;
}
.footer_background .footer_nav .footer_nav_block .footer_nav_section .p_nav_large {
  display: none;
}
.footer_background .footer_nav .footer_nav_block .footer_nav_section p {
  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #fff;
  margin-bottom: 16px;
}
.footer_background .footer_nav .footer_nav_block .footer_nav_section ul {
  list-style-type: none;
  font-family: "Open Sans", "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #E7E9ED;
  margin-bottom: 32px;
  padding-left: 0;
  cursor: pointer;
}
.footer_background .footer_nav .footer_nav_block .footer_nav_section ul li {
  margin-bottom: 8px;
  transition-duration: 0.5s;
}
.footer_background .footer_nav .footer_nav_block .footer_nav_section ul li:hover {
  color: #1D212A;
  text-decoration: underline;
  transition-duration: 0.5s;
}
@media (min-width: 512px) and (max-width: 1023px) {
  .footer_background .footer_nav .footer_nav_block {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
  }
  .footer_background .footer_nav .footer_nav_block .footer_nav_section {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .footer_background .footer_nav {
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 150px;
  }
  .footer_background .footer_nav .footer_nav_block {
    flex-direction: row;
    justify-content: space-between;
    max-width: 500px;
  }
  .footer_background .footer_nav .footer_nav_block .footer_nav_section .footer_nav_title {
    font-size: 38px;
  }
  .footer_background .footer_nav .footer_nav_block .footer_nav_section .footer_nav_list {
    display: none;
  }
  .footer_background .footer_nav .footer_nav_block .footer_nav_section .p_nav_large {
    display: block;
    font-size: 16px;
    font-family: "Open Sans", "Nunito";
    width: 250px;
    flex-shrink: 2;
  }
}
.footer_background .footer_line {
  display: block;
  height: 1px;
  max-width: 100%;
  background-color: #fff;
  margin-top: 40px;
}
@media (min-width: 512px) and (max-width: 1023px) {
  .footer_background .footer_line {
    margin-top: 60px;
  }
}
.footer_background .footer_copyright {
  font-family: "Open Sans", "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #E7E9ED;
  margin-top: 13px;
}
@media (min-width: 512px) and (max-width: 1023px) {
  .footer_background .footer_copyright {
    margin-top: 20px;
  }
}
@media (min-width: 1024px) {
  .footer_background .footer_copyright {
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 20px;
  }
}