@import "https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap";
.header_navigate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5%;
}
@media (min-width: 512px) and (max-width: 1023px) {
  .header_navigate {
    margin: 0 45px;
    padding-top: 15px;
  }
}
@media (min-width: 1024px) {
  .header_navigate {
    gap: 10%;
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 22px;
  }
}
.header_navigate .header_navigate_name {
  color: #1D212A;
  font-family: "Poppins", "Roboto";
  font-size: 38px;
  font-weight: 300;
  cursor: pointer;
}
.header_navigate .header_navigate_name.open {
  z-index: 1001;
  font-size: 20px;
}
@media (min-width: 512px) and (max-width: 1023px) {
  .header_navigate .header_navigate_name.open {
    font-size: 38px;
  }
}
.header_navigate .header_navigate_menu {
  position: fixed;
  right: -100vw;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 1000;
  transition: right 0.3s ease-in;
}
@media (min-width: 1024px) {
  .header_navigate .header_navigate_menu {
    position: relative;
    height: auto;
    right: auto;
    background: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header_navigate .header_navigate_menu.open {
  display: flex;
  flex-direction: column;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}
.header_navigate .header_navigate_menu .header_navigate_menu_link {
  display: flex;
  flex-direction: column;
  margin: 90px 0 0 30px;
}
@media (min-width: 1024px) {
  .header_navigate .header_navigate_menu .header_navigate_menu_link {
    margin: 0;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}
.header_navigate .header_navigate_menu .header_navigate_menu_link .header_navigate_menu_link_noLink {
  text-decoration: none;
  color: #1D212A;
  padding: 12px 16px;
  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  font-size: 17px;
}
.header_navigate .header_navigate_menu .header_navigate_menu_link .header_navigate_menu_link_noLink:active {
  color: #8770FF;
}
.header_navigate .header_navigate_menu .header_navigate_menu_link .menuLinkActive {
  color: #8770FF;
  text-decoration: none;
  padding: 12px 16px;
  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  font-size: 17px;
}
.header_navigate .header_navigate_menu .header_navigate_menu_switcher {
  order: 1;
  margin-left: 44px;
  padding-bottom: 47px;
}
@media (min-width: 512px) and (max-width: 1023px) {
  .header_navigate .header_navigate_menu .header_navigate_menu_switcher {
    padding-bottom: 27px;
  }
}
@media (min-width: 1024px) {
  .header_navigate .header_navigate_menu .header_navigate_menu_switcher {
    order: 0;
    position: relative;
    padding-bottom: 0;
  }
}
.header_navigate .header_navigate_menu .header_navigate_menu_switcher select {
  background: none;
  background-position: right;
  border: none;
  width: 32px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.header_navigate .header_navigate_menu .header_navigate_menu_switcher select:focus {
  outline: none;
}
.header_navigate .header_navigate_menu .header_navigate_menu_switcher span {
  font-family: "Poppins", "Roboto";
  font-size: 11px;
  font-weight: 500;
  color: #32D989;
  transform: scaleX(2);
  display: inline-block;
  margin-left: -8px;
  pointer-events: none;
}
.header_navigate .header_navigate_menu .header_navigate_menu_switcher .header_navigate_menu_switcher_selected {
  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  background: none;
}
@media (min-width: 1024px) {
  .header_navigate .header_navigate_menu .header_navigate_menu_switcher .header_navigate_menu_switcher_selected option {
    background-color: #f1f3f6;
  }
}
.header_navigate .header_navigate_menu .header_navigate_menu_button {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-left: 42px;
}
@media (min-width: 1024px) {
  .header_navigate .header_navigate_menu .header_navigate_menu_button {
    flex-grow: 0;
    margin: 0;
    flex-direction: row;
    align-items: center;
  }
}
.header_navigate .header_navigate_menu .header_navigate_menu_button .header_navigate_menu_button_link {
  display: flex;
  align-items: center;
  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #1D212A;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .header_navigate .header_navigate_menu .header_navigate_menu_button .header_navigate_menu_button_link {
    display: none;
  }
}
.header_navigate .header_navigate_menu .header_navigate_menu_button .header_navigate_menu_button_link span {
  font-family: "Poppins", "Roboto";
  font-size: 11px;
  font-weight: 500;
  color: #32D989;
  transform: scaleX(2);
  display: inline-block;
  margin-left: 8px;
}
.header_navigate .header_navigate_menu .header_navigate_menu_button .header_navigate_menu_button_login {
  font-family: "Poppins", "Roboto";
  color: #1D212A;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  width: auto;
  width: 140px;
  text-align: center;
}
@media (min-width: 1024px) {
  .header_navigate .header_navigate_menu .header_navigate_menu_button .header_navigate_menu_button_login {
    width: 47px;
  }
}
.header_navigate .header_navigate_menu .header_navigate_menu_button .header_navigate_menu_button_signup {
  background-color: #8770FF;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 40px;
  font-family: "Poppins", "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  width: auto;
  cursor: pointer;
}
.header_navigate .menu-toggle {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 32px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
}
@media (min-width: 1024px) {
  .header_navigate .menu-toggle {
    display: none;
  }
}
.header_navigate .menu-toggle-line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #1D212A;
  margin: 2px 0;
  transition: all 0.3s;
}
.header_navigate .menu-toggle.open .menu-toggle-line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.header_navigate .menu-toggle.open .menu-toggle-line:nth-child(2) {
  opacity: 0;
}
.header_navigate .menu-toggle.open .menu-toggle-line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}