@import "https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap";
.header_for_details {
  margin-top: 128px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_for_details h4 {
  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #B6BFD9;
  margin-bottom: 8px;
}
.header_for_details h1 {
  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: #1D212A;
  margin-bottom: 8px;
}
.header_for_details p {
  font-family: "Open Sans", "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #565A65;
  max-width: 289px;
  margin: 0;
  padding: 0;
}
.header_for_details .p_large {
  display: none;
}

.header_button_home {
  display: none;
}

.header_button_details {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 30px;
}
.header_button_details_1 {
  display: inline-block;
  width: 140px;
  height: 48px;
  border-radius: 8px;
  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1D212A;
  text-align: center;
  line-height: 48px;
  text-decoration: none;
  position: relative;
  transition: 0.5s;
  margin-right: 2%;
}
.header_button_details_1::after {
  content: "";
  width: 2px;
  height: 8px;
  transform: rotate(45deg);
  background: #32D989;
  position: absolute;
  top: 23px;
  left: 118px;
}
.header_button_details_1::before {
  content: "";
  width: 2px;
  height: 8px;
  transform: rotate(-45deg);
  background: #32D989;
  position: absolute;
  top: 19px;
  left: 118px;
}
.header_button_details_1:hover {
  background: #8770FF;
  color: #fff;
  transition: 0.5s;
}
.header_button_details_1:hover::before {
  display: none;
}
.header_button_details_1:hover::after {
  display: none;
}
.header_button_details_2 {
  display: inline-block;
  height: 48px;
  padding: 0 10px;
  border-radius: 8px;
  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1D212A;
  text-align: center;
  line-height: 48px;
  text-decoration: none;
  position: relative;
}
.header_button_details_2::after {
  content: "";
  width: 2px;
  height: 8px;
  transform: rotate(45deg);
  background: #32D989;
  position: absolute;
  top: 23px;
  left: 100%;
}
.header_button_details_2::before {
  content: "";
  width: 2px;
  height: 8px;
  transform: rotate(-45deg);
  background: #32D989;
  position: absolute;
  top: 19px;
  left: 100%;
}
.header_button_details_2:hover {
  background: #8770FF;
  color: #fff;
  transition: 0.5s;
}
.header_button_details_2:hover::before {
  display: none;
}
.header_button_details_2:hover::after {
  display: none;
}

@media (min-width: 512px) and (max-width: 1023px) {
  .header_for_details h4 {
    font-size: 18px;
  }
  .header_for_details h1 {
    font-size: 64px;
  }
  .header_for_details p {
    font-size: 24px;
    max-width: 450px;
  }
}

@media (min-width: 1024px) {
  .header_for_details h4 {
    font-size: 18px;
  }
  .header_for_details h1 {
    font-size: 64px;
  }
  .header_for_details p {
    max-width: 730px;
    font-family: "Poppins", "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #1D212A;
  }
  .header_for_details .p_medium {
    display: none;
  }
  .header_for_details .p_large {
    display: initial;
    max-width: 730px;
  }
}

@media (min-width: 1024px) {
  .header_button_home {
    display: flex;
    justify-content: center;
    position: relative;
    top: -40px;
  }
  .header_button_home_1 {
    display: inline-block;
    width: 140px;
    height: 48px;
    border-radius: 8px;
    font-family: "Poppins", "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #1D212A;
    text-align: center;
    line-height: 48px;
    text-decoration: none;
    transition: 0.5s;
    position: relative;
  }
  .header_button_home_1::after {
    content: "";
    width: 2px;
    height: 8px;
    transform: rotate(45deg);
    background: #32D989;
    position: absolute;
    top: 23px;
    left: 135px;
  }
  .header_button_home_1::before {
    content: "";
    width: 2px;
    height: 8px;
    transform: rotate(-45deg);
    background: #32D989;
    position: absolute;
    top: 19px;
    left: 135px;
  }
  .header_button_home_1:hover {
    background: #8770FF;
    color: #fff;
    transition: 0.5s;
  }
  .header_button_home_1:hover::before {
    display: none;
  }
  .header_button_home_1:hover::after {
    display: none;
  }
}